<footer class="site-footer">
  <p class="text">
    Design based on the <a href="https://github.com/sylhare/Type-on-Strap">Type on Strap</a> theme.
    The source code is available on <a href="https://github.com/andrewhercules/andrewhercules.github.io">GitHub</a>.
  </p>
  <div class="footer-icons">
    <ul>
      <li>
        <a href="https://github.com/andrewhercules" title="Andrew Hercules GitHub profile">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-github fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>
      <li>
        <a href="http://www.linkedin.com/in/andrewhercules/" title="Andrew Hercules LinkedIn profile">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>
      <li>
        <a href="mailto:andrewhercules@gmail.com" title="Email Andrew Hercules">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>
    </ul>
  </div>
</footer>
