<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>Andrew Hercules</title>
  <link rel="stylesheet" href="/assets/css/main.css">
  <link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon">
  <script src="/assets/js/jquery-3.2.1.min.js" ></script>
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/atom+xml" title="{{ site.theme_settings.title }}" href="/feed.xml"/>
  <link rel="stylesheet" type="text/css" href="/assets/css/font-awesome.min.css">
  <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
</head>
