<header class="site-header">

  <div class="branding">
    <h1 class="site-title">
      <a href="{{ site.baseurl }}/">{{ site.theme_settings.title }}</a>
    </h1>
  </div>

  <nav class="clear">
    <a id="pull" class="toggle" href="#">
      <i class="fa fa-bars fa-lg"></i>
    </a>
    <ul>
      <li>
        <a class="clear" href="/blog">
          Blog
        </a>
      </li>
      <li>
        <a class="clear" href="/portfolio">
          Portfolio
        </a>
      </li>
      <li>
        <a class="clear" href="mailto:andrewhercules@gmail.com">
          Contact
        </a>
      </li>
    </ul>
  </nav>

</header>
