// global colour variables

$custom-red: #c0392b;
$custom-teal: #336E7B;
$custom-blue: #2c3e50;

// navbar header

h1.site-title a,
.site-header a,
nav a.nav-link {
  color: $custom-blue;
}

h1.site-title a:hover,
.site-header a:hover,
nav a.nav-link:hover  {
  color: $custom-teal;
}

// index page

main#index {
    text-align: center;
    color: #fff;
    background: $custom-teal;
}

main#index .container {
    padding-top: 100px;
    padding-bottom: 50px;
}

main#index img {
    display: block;
    margin: 0 auto 20px;
}

.intro-text .name {
    display: block;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 2em;
    font-weight: 700;
}

.intro-text .skills {
    font-size: 1.25em;
    font-weight: 300;
}

hr.star-light {
    margin: 25px auto 30px;
    padding: 0;
    max-width: 250px;
    border: 0;
    border-top: solid 5px;
    text-align: center;
}

hr.star-light:after {
    display: inline-block;
    position: relative;
    top: -.8em;
    padding: 0 .25em;
}

@media(min-width:768px) {
    main#index .container {
        padding-top: 200px;
        padding-bottom: 100px;
    }
    .intro-text .name {
      font-size: 3.5em;
    }
    .intro-text .skills {
      font-size: 1.5em;
    }
  }

// footer

.site-footer {
  font-size: 0.75em;
}

.site-footer a {
  color: $custom-blue;
}
.site-footer a:hover {
  color: $custom-teal;
}
