/*
Colour codes:
medium navy #16324F
dark navy #13293D
dark blue/teal #18435A

*/

* {
  font-family: "Muli", Helvetica, Arial, sans-serif;
  color: #13293D;
}

body {
box-sizing: border-box;
min-height: 100vh;
margin: 0;
border-bottom: solid 5px #13293D;
}
/* index page */

#index-name {
  font-size: 4em;
  font-weight: 800;
  text-transform: uppercase;
}

#index-skills {
  font-size: 1.75em;
}

/* navbar */

nav {
  margin-bottom: 50px;
}

.bg-navy {
    background-color: #16324F;
}


/* avatar */

img#avatar-img {
  margin: 50px 0px 50px 0px;
}

.h1-underline {
  margin: 25px auto;
    padding: 0;
    max-width: 250px;
    border-top: solid  5px;
    text-align: center;
}

/* header styles */

h1.page-name {
  text-transform: uppercase;
  font-weight: 900;
}

p.page-text {
  font-size: 1.25em;
}

a.external-link {
  color: #3E92CC;
}


.ico-link:hover {
  color: #3E92CC;
}








/* Portfolio index page */

#portfolio .portfolio-item .portfolio-link {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 400px;
}

#portfolio .portfolio-item .portfolio-link .caption {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: #3E92CC;
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
}

#portfolio .portfolio-item .portfolio-link .caption:hover {
    opacity: 0.9;
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    font-size: 20px;
    color: #fff;
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content i {
    margin-top: -12px;
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content h3,
#portfolio .portfolio-item .portfolio-link .caption .caption-content h4 {
    margin: 0;
}

#portfolio * {
    z-index: 2;
}

@media(min-width:767px) {
    #portfolio .portfolio-item {
        margin: 0 0 30px;
    }
}

img.portfolio-item-img {
  width: 100%;
}
