#index-page-wrapper {
  margin-top: 100px;
}

#index-name {
  font-size: 4em;
  font-weight: 800;
  text-transform: uppercase;
}

#index-skills {
  font-size: 1.75em;
}

#profile-photo {
  margin-bottom: 40px;
}
