---
layout: default
---

<section id="blog">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1 class="page-name">Blog</h1>
        <hr class="h1-underline">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="posts">
          {% for post in paginator.posts %}
          <div class="post-teaser">
            <span>
              <header>
                <h3>
                  <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
                    {{ post.title }}
                  </a>
                </h3>
                <p class="meta">
                  {{ post.date | date: "%B %-d, %Y" }}
                </p>
              </header>
              <div class="excerpt">
                {{ post.content | strip_html | truncate: "250" }}
              </div>
            </span>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="row justify-content-md-center paginator-block">
      <div class="col col-lg-4 text-center">
        {% if paginator.total_pages > 1 %}
        <div>
          {% if paginator.next_page %}
          <button class="btn btn-light">
            <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">
              <i class="fa fa-chevron-left"></i>
              Older Posts
            </a>
          </button>
          {% endif %}
          {% if paginator.previous_page %}
          <button class="btn btn-light">
            <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">
              Newer Posts
              <i class="fa fa-chevron-right"></i>
            </a>
          </button>
          {% endif %}
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
