---
layout: default
---
<section>
  <div id="index-page-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center ">
            <img id="profile-photo" src="/assets/img/andrew_hercules_photo.jpg" alt="Profile photo of Andrew Hercules">
            <h1 id="index-name">Andrew Hercules</h1>
            <hr class="h1-underline" />
            <h3 id="index-skills">Product Designer | Data Analyst | Digital Strategist</h3>
          </div>
        </div>
      </div>
    </div>
</section>
