---
layout: default
---

<section id="post">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1 class="page-name">{{ page.title }}</h1>
        <hr class="h1-underline">
        <p id="post-date">{{ page.date | date: "%B %-d, %Y" }}</p>
        {% if page.medium-link %}
          <p id="post-medium-link-text">This post is also available on
            <a class="external-link" href="{{ page.medium-link }}" target="_blank">Medium</a>
          </p>
        {% endif %}
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        {{ content }}
      </div>
    </div>
    <div class="row justify-content-between paginator-block" id="post-nav">
      {% if page.previous.url %}
      <div id="previous-post" class="col col-lg-4 post-nav-post">
        <p>Previous Post</p>
        <a href="{{ site.baseurl }}{{ page.previous.url }}">
          {{ page.previous.title }}
        </a>
      </div>
      {% endif %}
      {% if page.next.url %}
      <div id="next-post" class="col col-lg-4 post-nav-post text-right">
        <p>Next Post</p>
        <a href="{{ site.baseurl }}{{ page.next.url }}">
          {{ page.next.title }}
        </a>
      </div>
      {% endif %}
    </div>
  </div>
</section>
