* {
  font-family: $default-font-family;
  color: $default-font-colour;
  font-weight: $default-font-weight;
  font-size: $default-font-size;
  box-sizing: border-box;
  margin: 0;
}

body {
  min-height: 100vh;
  border-bottom: solid 10px $green;
  padding-bottom: 50px;
}

.bg-green {
    background-color: $green;
}

.h1-underline {
  margin: 20px auto 25px auto;
  padding: 0;
  max-width: 200px;
  border-top: solid  5px;
  text-align: center;
  color: $green;
}

.page-name {
  font-weight: 500;
}

a,
.external-link,
.internal-link,
.post-link
{
  color: $blue;
  font-weight: 400;
}

a:hover,
.external-link:hover,
.internal-link:hover,
.post-link:hover
{
  color: $blue;
}
