// Colours

  $dark-green: #253031;
  $green: #5C946E;
  $blue: #4281A4;
  $grey: #DFDFDF;
  $white: #FFFFFF;

// Typography

  $font-family-main: "Inter", Helvetica, Arial, sans-serif;
  $default-font-colour: $dark-green;
  $default-font-size: 1em;
  $bold: 900;
