// Colours

  $very-dark-blue: #293748;
  $dark-blue: #456785;
  $yellow: #ffca00;
  $soft-cyan: #6fa5d2;
  $vivid-cyan: #10deda;

// Typography

  $font-family-main: "Inter", Helvetica, Arial, sans-serif;
  $default-font-colour: $very-dark-blue;
  $default-font-size: 1em;
  $bold: 900;
